<p id="notice"><%= notice %></p>

<body style="background-color:lightgrey;"></body>
<body style="background-color:lightgrey;"></body>
  <h1>Cars</h1>

<!-- Search for cars -->
<!-- < %= form_tag(search_cars_url, method: "get") do %>
      < %= label_tag(:query, "Search cars by model or vin:") %>
      < %= text_field_tag(:query) %>
      < %= submit_tag("Search") %>

< % end %>-->

<table> <!--boarder= "2" bordercolor="black"-->
  <thead>
  <!--col width="100">
  <col width="100">
  <col width="100">
  <col width="100">
  <col width="100">
    <tr style="font-size: 20px;"-->
      <th>Make</th>
      <th>Model</th>
      <th>Vin</th>
      <th style ="color:black;">Country</th>
      <th>Parts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.Make %></td>
        <td><%= car.Model %></td>
        <td><%= car.Vin %></td>
        <td><%= car.Country %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
