<p id="notice"><%= notice %></p>

<body style="background-color:lightgrey;"></body>
<body style="background-color:lightgrey;"></body>
Parts
</h1>

<!-- Parts search-->
<%= form_tag(search_parts_url, method: "get") do %>
  <%= label_tag(:query, "Search parts by name:") %>
  <%=text_field_tag(:query) %>
  <%= submit_tag("Search") %>
  <% end %>

<table>
  <% @parts.each do |part| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td>
        <%= image_tag(part.image_url, class: 'list_image') %>
      </td>
      <td class="list_description">
        <dl>
          <dt><%= part.title %></dt>
          <dd><%= truncate(strip_tags(part.description),
                           length: 30) %></dd>
        </dl>
      </td>
      <td class="list_actions">
        <%= link_to 'Show', part %><br/>
        <%= link_to 'Edit', edit_part_path(part) %><br/>
        <%= link_to 'Destroy', part, method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
<br />
<%= link_to 'New part', new_part_path %>
